#movie-list-block {
  margin-top: 0px;
  padding: 20px 60px;
  color: #e4e4e4;
  letter-spacing: 1px;
  background-color: #141414;
}

.movie-block {
  display: inline-block;
}

.movie-thumbnail-box {
  margin-right: 3px;
}

.movie-thumbnail {
  width: 220px;
}

/* responsive styles */
@media screen and (max-width: 790px) {
  h5 {
    color: #e4e4e4;
    margin: 20px;
    text-align: center;
  }

  .movie-block {
    display: block;
    width: 100%;
    margin: 20px auto;
  }

  .movie-thumbnail {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 550px) {
  .movie-thumbnail {
    display: block;
    width: 220px;
    margin: 0 auto;
  }
}
