<div id="featured-movie-block" *ngFor="let movie of featuredMovie | async">
  <div id="featured-movie-details">
    <div>
      <img [src]="movie.movieLogoUrl" class="featured-logo-image">
    </div>
    <div id="featured-actions-box">
      <button class="btn btn-lg btn-featured">
        <fa name="play" class="featured-icon"></fa>
        Play
      </button>
      <div class="addButtonBox" *ngIf="featureAdded">
        <button class="btn btn-lg btn-featured" (click)="removeFromWatchlist(movie.currentFeature)">
          <fa name="check" class="featured-icon"></fa>
          On List
        </button>
      </div>
      <div class="addButtonBox" *ngIf="!featureAdded">
        <button class="btn btn-lg btn-featured" (click)="addToWatchlist(movie.currentFeature)">
          <fa name="plus" class="featured-icon"></fa>
          Watchlist
        </button>
      </div>
    </div>
    <div id="featured-details-box">
      <h4>{{ movie.header }}</h4>
      <p>{{ movie.description }}</p>
    </div>
  </div>
</div>
