<div id="featured-movie-block" *ngFor="let movie of featuredMovie | async">
  <div id="featured-movie-details">
    <div>
      <img [src]="movie.movieLogoUrl" class="featured-logo-image">
    </div>
    <div id="featured-actions-box">
      <button class="btn btn-lg btn-featured">
        <fa name="play" class="featured-icon"></fa>
        Play
      </button>
      <button class="btn btn-lg btn-featured">
        <fa name="plus" class="featured-icon"></fa>
        Wishlist
      </button>
    </div>
    <div id="featured-details-box">
      <h4>{{ movie.header }}</h4>
      <p>{{ movie.description }}</p>
    </div>
  </div>
</div>
