#featured-movie-block {
  margin-top: 65px;
  background-image: url("./../../assets/img/featured-movie-hero.jpg");
  width: 100%;
  height: 550px;
  background-size: 100%;
  background-repeat: no-repeat;
}

#featured-movie-details {
  width: 30%;
  height: 400px;
  margin-top: 50px;
  margin-left: 60px;
}

.featured-logo-image {
  width: 100%;
}

#featured-actions-box {
  margin-top: 25px;
}

.btn-featured {
  background-color: rgba(51,51,51,.4);
  padding: 3px;
  height: 45px;
  width: 150px;
  border-radius: 5px;
  font-size: 1.2em;
  color: #e6e6e6;
  margin-right: 10px;
}

.btn-featured:hover {
  background-color: #e6e6e6;
  color: #141414;
}

.featured-icon {
  margin-right: 5px;
}

#featured-details-box {
  margin-top: 20px;
  color: #e6e6e6;
}

#featured-details-box p {
  font-size: 1.2em;
}

.addButtonBox {
  display: inline-block;
  width: 150px;
}

/* responsive styles */
@media screen and (max-width: 1080px) {
  #featured-movie-details {
    width: 40%;
  }
}

@media screen and (max-width: 983px) {
  #featured-movie-block {
    height: 400px;
  }
}

@media screen and (max-width: 816px) {
  #featured-movie-details {
    width: 50%;
    margin: 0 auto;
  }

  #featured-logo-image {
    width: 10%;
  }

  .btn-featured {
    display: block;
    width: 100%;
    margin: 10px auto;
    border: 1px solid #fff;
    background-color: rgba(51,51,51,.5);
  }

  .addButtonBox {
    width: 100%;
  }

  #featured-details-box {
    display: none;
  }
}

@media screen and (max-width: 715px) {
  #featured-movie-block {
    height: 300px;
  }
}

@media screen and (max-width: 535px) {
  #featured-movie-block {
    height: 250px;
  }
}

@media screen and (max-width: 445px) {
  #featured-movie-block {
    height: 225px;
  }
}

